@mixin home-content {
  #home-content {
    .device-button,
    .sensor-button {
      height: 100px;
      width: 100px;
      display: inline-flex;
      text-align: center;
      margin: 10px;
      border-radius: 8px;
      background-color: rgba(228, 202, 160, 0.4);
      box-shadow: inset 0px 4px 4px rgba(228, 202, 160, 0.18);
      color: var(--disabled-text-maybe);
      flex-direction: column;
      padding: 15px;
      box-sizing: content-box;
      &.active {
        background: var(--white);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        color: black;
        animation-duration: 270ms;
        animation-fill-mode: forwards;
        animation-name: active-menu-item;
      }
    }
  }

  // This edit mode might need to be on a higher level later on
  .edit-mode-background {
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: backdrop-filter 150ms ease;
    transition-delay: 0ms;
    &.expand {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      transition-delay: 150ms;
    }
  }
  .edit-mode {
    position: absolute;
    transition: height 200ms, width 200ms, left 200ms, top 200ms,
      background-color 200ms ease 100ms, font-weight 200ms ease 100ms;
    transition-timing-function: cubic-bezier(0.35, 0.85, 0.39, 1);
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    user-select: none;
    .edit-mode-title {
      font-weight: 400;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
      padding: 5px 15px;
      width: 200px;
    }

    .edit-mode-content {
      padding: 65px 40px 0px;
      opacity: 0;
      transition-duration: 0;
      transition-delay: 0;

      .add-action-btn {
        background: white;
        outline: none;
        color: var(--primary-color);
        border: solid 2px var(--primary-color);
        padding: 8px 22px;
        border-radius: 8px;
        margin: 22px 0;
        height: 32px;
      }
    }
  }

  // These are mainly transitions
  .edit-mode.expand {
    transition: height 150ms ease 150ms, width 150ms ease 150ms,
      left 150ms ease 150ms, top 150ms ease 150ms, background-color 150ms ease,
      font-weight 150ms ease;
    transition-timing-function: cubic-bezier(0.71, 0.23, 0.41, 1.11);
    background-color: rgb(255, 255, 255);
    z-index: 2;
    left: 20px !important;
    width: calc(100% - 40px) !important;

    .edit-mode-title {
      font-weight: bold;
    }

    .edit-mode-content {
      opacity: 1;
      transition: opacity 300ms ease 400ms;
    }
  }

  .expand.devices {
    top: -80px !important;
    height: 100% !important;
  }
  .expand.sensors {
    top: 50px !important;
  }
}
