:root {
  --background-primary: rgba(255, 250, 241);
  --background-secondary: rgb(255, 255, 255);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --disabled-text: #909090;
  --primary-highlight-color: #f2884b;
  --box-disabled-color: rgb(255, 240, 217);
  --grey-areas: rgb(249, 249, 249);
  --brightnessbar-back: rgb(255, 228, 186);
  --brightnessbar-front: rgb(255, 200, 115); 
  --text-primary: #2f2f2f; 
  --text-secondary: #343434;
}