@import "iconoir/css/iconoir.css";
@import "./platform-styles/desktop-styles.scss";
@import "./platform-styles/mobile-styles.scss";
@import "./animations.scss";
@import "/Fonts/Satoshi/css/satoshi.css";
@import "./colors.scss";

// :root {
//   touch-action: pan-x pan-y;
//   touch-action: manipulation;
//   // height: 100% 
// }

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: "Satoshi-Variable";
  background-color: var(--background-primary);
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#nav-bar {
  position: fixed;
  display: flex;
  cursor: pointer;
  background: var(--background-secondary);
  transition-property: height, width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.72, -0.03, 0.45, 1.25);

  .menu-item {
    &.active {
      color: #f2884b;
      i {
        animation-duration: 270ms;
        animation-fill-mode: forwards;
        animation-name: active-menu-item;
      }
    }
  }
  .item-container {
    display: flex;
  }
  .menu-item-icon {
    font-size: 2em;
  }
}

#popup-message-container {
  .toaster-container {
    position: absolute;
    background-color: var(--background-secondary);
    padding: 10px 25px;
    border-radius: 10px;
    left: 50%;
    width: max-content;
    transform: translateY(0) translateX(-50%) scale(1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);

    span,
    i {
      display: inline-block;
    }
    i {
      vertical-align: sub;
      font-size: 1.2em;
    }

    &.from-top,
    &.from-bottom {
      animation-duration: 180ms;
      animation-timing-function: cubic-bezier(0.66, 0.18, 0.59, 1.17);
    }
    &.from-top {
      top: 10px;
    }
    &.from-bottom {
      bottom: 110px;
    }
  }
}

.animated {
  animation-duration: 270ms;
  animation-fill-mode: forwards;
  animation-name: active-menu-item;
}

@media (min-width: 600px) {
  @include dekstop();
}

@media (max-width: 600px) {
  @include mobile();
}
