<div
  class="menu-item"
  :foreach="item in this.items"
  :ontouchstart="this.setActiveMenuItem(item)"
  :class:active="this.activeMenuItemId === item.id"
>
  <!-- Used only so desktop has an anchor point for click events -->
  <div class="menu-item-desktop" :onclick="this.setActiveMenuItem(item)"></div>

  <div class="item-container">
    <span class="menu-item-icon">
      <i :class="'iconoir-' + item.icon"></i>
    </span>

    <span class="menu-item-text"> ${item.name} </span>

    <span
      class="toggle-subitems"
      :if="item.subitems"
      :class:expanded="item.expanded"
    >
      <i class="iconoir-nav-arrow-right"></i>
    </span>
  </div>
</div>
