<!-- App header -->
<div class="header">
  <span class="hamburguer-menu">
    <i class="iconoir-menu"></i>
  </span>
  <span class="header-title"> ${this.header} </span>
  <span class="contextual-settings">
  </span>
</div>

<!-- App Content -->
<div class="main-content">
  <div class="menu-tabs" :if="this.tabs && this.tabs.length">
    <span
      class="tab"
      :foreach="tab in this.tabs"
      :ontouchstart="this.selectTab(tab , event)"
      :class:active="tab.id === this.activeTabId"
    >
      ${tab.name}
    </span>
    <div class="active-indicator" :style="this.activeIndicatorPosition"></div>
  </div>

  <div class="tab-content">
    <div
      :if="this.activeMenuItemId === 'home'"
      :innerHTML="this.templates.home"
    ></div>
  </div>
</div>