<div class="header">
  <span class="hamburguer-menu">
    <i class="iconoir-menu"></i>
  </span>
  <span class="header-title"> ${this.header} </span>
  <span class="contextual-settings" :ontouchstart="this.expandSettings()">
    <i
      :if="this.settings && this.settings.length > 0"
      class="iconoir-more-vert"
    ></i>
  </span>
</div>

<div class="settings-container" :class:expanded="this.settingsExpanded">
  <div
    class="setting-button"
    :foreach="setting in this.settings"
    :ontouchstart="setting.action()"
  >
    <i :class="'iconoir-' + setting.icon" style=""></i>
    <span> ${setting.display} </span>
  </div>
</div>

<div class="main-content">
  <div class="menu-tabs" :if="this.tabs && this.tabs.length">
    <span
      class="tab"
      :foreach="tab in this.tabs"
      :ontouchstart="this.selectTab(tab , event)"
      :class:active="tab.name === this.activeTab"
    >
      ${tab.name}
    </span>
    <div class="active-indicator" :style="this.activeIndicatorPosition"></div>
  </div>

  <div class="tab-content">
    <div
      :if="this.activeMenuItemId === 'home'"
      :innerHTML="this.templates.home"
    ></div>
    <div
      :if="this.activeMenuItemId === 'devices'"
      :innerHTML="this.templates.devices"
    ></div>
    <div
      :if="this.activeMenuItemId === 'rooms'"
      :innerHTML="this.templates.rooms"
    ></div>
    <div
      :if="this.activeMenuItemId === 'automations'"
      :innerHTML="this.templates.automations"
    >
      Hello Automations
    </div>
  </div>
</div>
