<div
  class="menu-item"
  :foreach="item in this.items"
  :key="item.id"
  :onmousedown="this.setActiveNavBarItem(item)"
  :class:active="this.activeMenuItemId === item.id"
>
  <div class="item-container">
    <span class="menu-item-icon">
      <i :class="'iconoir-' + item.icon"></i>
    </span>

    <span class="menu-item-text"> ${item.name} </span>

    <span
      class="toggle-subitems"
      :if="item.subitems"
      :class:expanded="item.expanded"
    >
      <i class="iconoir-nav-arrow-right"></i>
    </span>
  </div>
</div>

<div
  class="menu-item nav-refresh"
  :class:syncing="this.wsState === 'syncing'"
  :class:offline="this.wsState === 'disconnected'"
  :onmousedown="this.refresh()"
>
  <div class="item-container">
    <span class="menu-item-icon">
      <i class="iconoir-refresh-double"></i>
      <span class="ws-dot"></span>
    </span>
    <span class="menu-item-text">
      <span :if="this.wsState === 'connected'">Connected</span>
      <span :if="this.wsState === 'syncing'">Syncing…</span>
      <span :if="this.wsState === 'disconnected'">Reconnect</span>
    </span>
  </div>
</div>
