@mixin dekstop {
  body {
    background: linear-gradient(
      200.2deg,
      rgba(255, 222, 171, 0.7) 13.23%,
      rgba(228, 223, 172, 0.7) 93.79%
    );
  }

  #nav-bar {
    height: 100%;
    width: 300px;
    left: 0;
    bottom: 0;
    flex-direction: column;

    .menu-item {
      padding: 15px;
      height: 30px;
      border-radius: 10px;
      margin: 5px 10px;
      position: relative;
      &:hover {
        background-color: rgb(184, 184, 184);
      }

      .menu-item-desktop {
        position: absolute;
        left: 0;
        top: 0;
        // background-color: lavender;
        height: 100%;
        width: 100%;
      }

      span {
        line-height: 30px;
      }

      .toggle-subitems {
        margin-right: 10px;
        flex: 1;
        text-align: right;
        &.expanded {
          i {
            transform: rotate(90deg);
          }
        }
        i {
          display: inline-block;
          vertical-align: middle;
          transition: transform 145ms ease-in-out;
        }
      }
    }
    .item-container {
      flex-direction: row;
    }
    .menu-item-text {
      margin-left: 20px;
    }
  }
}