@mixin dekstop {
  #nav-bar {
    height: 100%;
    width: 200px;
    left: 0;
    bottom: 0;
    flex-direction: column;

    .menu-item {
      padding: 15px;
      height: 30px;
      border-radius: 10px;
      margin: 5px 10px;
      &:hover {
        background-color: rgb(184, 184, 184);
      }

      span {
        line-height: 30px;
      }

      .toggle-subitems {
        margin-right: 10px;
        flex: 1;
        text-align: right;
        &.expanded {
          i {
            transform: rotate(90deg);
          }
        }
        i {
          display: inline-block;
          vertical-align: middle;
          transition: transform 145ms ease-in-out;
        }
      }
    }
    .item-container {
      flex-direction: row;
    }
    .menu-item-text {
      margin-left: 20px;
    }
  }
}