@mixin mobile {
  body {
    background-color: rgba(255, 222, 171, 0.7);
  }
  #nav-bar {
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;

    .menu-item {
      padding: 10px;
      flex: 1;
      text-align: center;
      box-sizing: border-box;

      .menu-item-desktop {
        display: none;
      }
    }

    .item-container {
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }

    .menu-item-icon {
      display: flex;
      justify-content: center;
    }

    .toggle-subitems {
      display: none;
    }
  }

  #content {
    position: fixed;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height: calc(100% - 100px);
    left: 0;
    top: 0;
    padding-bottom: 0;
    .header {
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      .hamburguer-menu,
      .header-title,
      .contextual-settings {
        flex: 1;
        justify-content: center;
        line-height: 50px;
        font-size: 2em;
        display: flex;
      }

      .hamburguer-menu {
        justify-content: flex-start;
      }
      .header-title {
        font-size: 2em;
      }
      .contextual-settings {
        justify-content: flex-end;
      }
    }

    .settings-container {
      border: 0.5px solid #d9d9d9;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 9px;
      background-color: rgba(255, 255, 255, 0.95);
      padding: 10px;
      position: fixed;
      z-index: 2;
      right: 8px;
      top: 50px;
      pointer-events: none;
      cursor: pointer;

      transition: all 200ms ease-in-out;

      transform: scale(0.8);
      opacity: 0;

      &.expanded {
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
      }

      .setting-button {
        padding: 10px;
        i {
          display: inline-block;
          vertical-align: sub;
          margin-right: 5px;
        }
      }
    }

    .main-content {
      padding-top: 20px;
      height: calc(100% - 80px);
      .menu-tabs {
        border-bottom: 2px;
        border-bottom-style: solid;
        border-bottom-color: gray;
        height: 55px;
        line-height: 50px;
        font-size: 1.4em;
        position: relative;
        white-space: nowrap;
        overflow-x: scroll;

        .tab {
          cursor: pointer;
          padding: 0 20px;
          display: inline-block;
          &.active {
            font-weight: bold;
          }
        }
        .active-indicator {
          transition: all 130ms cubic-bezier(0.72, 0.32, 0.57, 1.21);
          border-bottom: 5px;
          border-bottom-style: solid;
          position: absolute;
        }
      }
      .tab-content {
        text-align: center;
        padding: 10px;
        height: calc(100% - 75px);
        position: relative;
        & > div {
          height: 100%;
          & > div {
            height: 100%;
          }
        }
        .device-button {
          height: 100px;
          width: 100px;
          display: inline-flex;
          text-align: center;
          margin: 10px;
          border-radius: 8px;
          background-color: rgba(228, 202, 160, 0.4);
          box-shadow: inset 0px 4px 4px rgba(228, 202, 160, 0.18);
          color: #909090;
          flex-direction: column;
          padding: 15px;
          box-sizing: content-box;
          &.active {
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
            color: black;
            animation-duration: 270ms;
            animation-fill-mode: forwards;
            animation-name: active-menu-item;
          }

          &.closing {
            position: absolute;
          }

          .name {
            width: 100%;
          }

          .close-device-edit-mode {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            right: 20px;
            position: absolute;
            font-size: 2em;
          }
        }

        .edit-mode {
          position: absolute;
          transition: height 200ms,
            width 200ms,
            left 200ms,
            top 200ms,
            background-color 200ms ease 100ms;
          transition-timing-function: cubic-bezier(0.35, 0.85, 0.39, 1);
          background: rgba(0, 0, 0, 0);
          border-radius: 10px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
          user-select: none;

          &-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 15px;
          }
        }
        .expand {
          transition: height 150ms ease 150ms,
            width 150ms ease 150ms,
            left 150ms ease 150ms,
            top 150ms ease 150ms,
            background-color 150ms ease;
          transition-timing-function: cubic-bezier(0.71, 0.23, 0.41, 1.11);
          background-color: rgb(255, 255, 255);
          z-index: 2;
          left: 0px !important;
          width: 100% !important;
        }
        .expand.devices {
          top: 10px !important;
          height: 100% !important;
        }
        .expand.sensors {
          top: 50px !important; 
        }
      }
    }
  }
}
