@mixin mobile {
  #nav-bar {
    width: 100%;
    height: 100px;
    left: 0;    
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .menu-item {
      flex: 1;
      padding: 10px;
      cursor: pointer;
      text-align: center;
      box-sizing: border-box;
    }
    
    .menu-item-icon {
      display: flex;
      justify-content: center;
      font-size: 2em;
    }
    
    .item-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .toggle-subitems {
      display: none;
    }
  }
}