@mixin mobile {
  #nav-bar {
    height: 100px;
    width: 100%;
    left: 0;    
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;

    .menu-item {
      padding: 10px;
      flex: 1;
      text-align: center;
      box-sizing: border-box;
    }

    .item-container {
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
    }

    .menu-item-icon {
      display: flex;
      justify-content: center;
    }

    .toggle-subitems {
      display: none;
    }
  }
}