@import "iconoir/css/iconoir.css";
@import "./platform-styles/desktop-styles.scss";
@import "./platform-styles/mobile-styles.scss";
@import "./animations.scss";

@import '/public/icons/hu-icons.scss';
@import "/Fonts/Satoshi/css/satoshi.css";

body {
  font-family: "Satoshi-Variable";
  // font-family: "Satoshi-VariableItalic";
  // font-family: "Satoshi-Light";
  // font-family: "Satoshi-LightItalic";
  // font-family: "Satoshi-Regular";
  // font-family: "Satoshi-Italic";
  // font-family: "Satoshi-Medium";
  // font-family: "Satoshi-MediumItalic";
  // font-family: "Satoshi-Bold";
  // font-family: "Satoshi-BoldItalic";
  // font-family: "Satoshi-Black";
  // font-family: "Satoshi-BlackItalic";
}

#nav-bar {
  position: fixed;
  display: flex;
  cursor: pointer;
  background: rgba(247, 244, 225, 0.75);
  transition-property: height, width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.72, -0.03, 0.45, 1.25);

  .menu-item {
    &.active {
      color: #f2884b;
      i {
        animation-duration: 270ms;
        animation-fill-mode: forwards;
        animation-name: active-menu-item;
      }
    }
  }
  .item-container {
    display: flex;
  }
  .menu-item-icon {
    font-size: 2em;
  }
}

.animated {
  animation-duration: 270ms;
  animation-fill-mode: forwards;
  animation-name: active-menu-item;
}

@media (min-width: 600px) {
  @include dekstop();
}

@media (max-width: 600px) {
  @include mobile();
}
