@import "iconoir/css/iconoir.css";
@import "./platform-styles/desktop-styles.scss";
@import "./platform-styles/mobile-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    200.2deg,
    rgba(255, 222, 171, 0.7) 13.23%,
    rgba(228, 223, 172, 0.7) 93.79%
  );
}

#nav-bar {
  position: fixed;
  background-color: lightgray;
  display: flex;
  cursor: pointer;
  transition-property: height, width;
  transition-duration: 220ms;
  transition-timing-function: cubic-bezier(0.72, 0.32, 0.57, 1.21);
  background: rgba(247, 244, 225, 0.75);

  .menu-item {
    transition: background-color 156ms ease-in-out;
  }
  .item-container {
    display: flex;
  }
  .menu-item-icon {
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  @include dekstop();
}

@media (max-width: 600px) {
  @include mobile();
}
