@import "iconoir/css/iconoir.css";
@import "./platform-styles/desktop-styles.scss";
@import "./platform-styles/mobile-styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import './animations.scss';

body {
  font-family: "Roboto", sans-serif;
}

#nav-bar {
  position: fixed;
  display: flex;
  cursor: pointer;
  background: rgba(247, 244, 225, 0.75);
  transition-property: height, width;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.72,-0.03,.45,1.25);
  
  .menu-item {
    &.active {
      color: #F2884B;
      i {
        animation-duration: 270ms;
        animation-fill-mode: forwards;
        animation-name: active-menu-item;
      }
    }
  }
  .item-container {
    display: flex;
  }
  .menu-item-icon {
    font-size: 2em;
  }
}

@media (min-width: 600px) {
  @include dekstop();
}

@media (max-width: 600px) {
  @include mobile();
}
